<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/stylesheets/navigation-bar.css">
    <link rel="stylesheet" href="/stylesheets/lists.css">
    <link rel="stylesheet" href="/stylesheets/sidebar.css">
    <link rel="stylesheet" href="/stylesheets/profile-card.css">

    <title>
        <%= title %>
    </title>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top justify-content-between" style="height: 50px;">
        <!-- Navbar content -->
        <div class="navbar-nav" style="margin-top: 7px;">
            <div class="navbar-brand">
                <input type="checkbox" id="check">
                <label for="check" id="sidebar-btn">
                    <i class="fas fa-bars"></i>
                </label>
                Event App
            </div>
        </div>
        
        <div class="navbar-nav">
            <button id="add-item-btn" class="btn btn-success" href="http://localhost:3000/admin/event/create">
                <span style="margin-right: 5px;">New Event</span>
                <span class="material-icons">
                    person_add
                </span>
            </button>
        </div>
        <div class="navbar-nav">
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="user-btn" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <span class="material-icons">account_circle</span>
                    <span style="margin-left: 5px;"><%= username %></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user-btn">
                    <a class="dropdown-item" href="http://localhost:3000/admin/setting">Setting</a>
                    <form action="/auth/logout" method="POST">
                        <input class="dropdown-item" type="submit" value="Log out">
                    </form>
                </div>
            </div>
        </div>
    </nav>

    <div class="main">
        <div class="sidebar" style="left: -220px;">
            <a href="http://localhost:3000/admin" class="link">
                <span class="material-icons">home</span>
                <span>Home</span>
            </a>
            <a href="http://localhost:3000/admin/lists" class="link">
                <span class="material-icons">dns</span>
                <span>Events</span>
            </a>
            <a href="#" class="link" id="drop">
                <span class="material-icons">supervisor_account</span>
                <span>Accounts</span>
            </a>

        </div>
        <div class="main-content">
            <!-- To do -->
            <table id="account-table" class="display">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Phone number</th>
                        <th>Preference</th>
                        <th>Role</th>
                    </tr>
                </thead>
                <tbody>
                    <% for( let i=0; i < user.length; i++ ) { %>
                        <tr>
                            <td>
                                <%= user[i].ID %>
                            </td>
                            <!-- <td style="display: none;"><%= user[i].username %> </td> -->
                            <td>
                                <%= user[i].name %>
                            </td>
                            <td>
                                <%= user[i]['phone-number'] %>
                            </td>
                            <td>
                                <%= user[i].preference %>
                            </td>
                            <td>
                                <%= user[i].role %>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Phone number</th>
                        <th>Preference</th>
                        <th>Role</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div id="user-card">
        <div id="left-card">
            <img src="/images/img_avatar.png" alt="Avatar" id="avatar">
            <span id="name"></span>
        </div>
        <form id="right-card">
            <div class="form-group">
                <label for="aname">Name:</label>
                <input type="text" class="form-control" id="aname" value="" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" class="form-control" id="email" value="" required>
            </div>
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" value="" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" placeholder="******" required>
            </div>
            <div class="form-group">
                <label for="role">Role</label>
                <select class="form-control" id="role">
                    <option value="user">user</option>
                    <option value="mod">mod</option>
                </select>
            </div>
            <div id="button">
                <button type="button" class="btn btn-info" id="edit" style="font-weight: bold;">Edit</button>
                <button type="button" class="btn btn-danger" id="delete" style="font-weight: bold;" value="">Delete</button>
                <button type="button" class="btn btn-light" id="discard" style="font-weight: bold;">Discard</button>
                <button type="submit" class="btn btn-info" id="save" style="font-weight: bold;">Save</button>
            </div>
        </form>
        <span class="material-icons" id="close-card">clear</span>
    </div>

    <div id="create-account">
        <div class="create-header">Create new account</div>
        <div id="body">
            <div class="form-group">
                <label for="uname">Username:</label>
                <input type="text" id="uname" placeholder="" required class="form-control">
            </div>
            <div class="form-group">
                <label for="psw">Password:</label>
                <input type="password" id="psw" placeholder="*****" required class="form-control">
            </div>
            <div class="form-group">
                <label for="urole">Role</label>
                <select class="form-control" id="urole">
                    <option value="user">user</option>
                    <option value="mod">mod</option>
                </select>
            </div>
            <!-- <span class="material-icons" id="close-create">clear</span> -->
            <div style="display: flex; justify-content: space-between;align-items: center;">
                <button class="btn btn-light" id="cancel-create" style="font-weight: bold;">Cancel</button>
                <button class="btn btn-info" id="create" style="font-weight: bold;">Create</button>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="/javascripts/sidebar.js"></script>

    <script>
        $('#user-card').hide();
        $('#save').hide();
        $('#discard').hide();
        $('#save').prop('disabled', true);
        $('.form-group select, .form-group input').prop('disabled', true);
        var table = $('#account-table').DataTable({
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': [-1] /* 1st one, start by the right */
            }]
        });
        $('#account-table_wrapper label').css('color', 'white');
        $('#account-table_wrapper input').css('background-color', 'white');
        $('#account-table_wrapper select').css('color', 'black');
        $('#account-table_wrapper select').css('background-color', 'white');
        $('#account-table_info').css('color', 'whitesmoke');
        $('.paginate_button a').css('color', 'white');
        $('#account-table tbody').on('click', 'tr', function () {
            var data = table.row(this).data();
            console.log(data[0]);
            $('#user-card').show();
            $('#aname').val(data[1]);
            $('.main-content').css('filter', 'blur(5px)');
            $('#delete').val(data[0]);
            $('#role').val(data[4]);
            $.get('accounts/user', {
                ID: data[0]
            }, function(data) {
                $('#username').val(data.user.username);
                $('#email').val(data.user.email);
            });
            
        });
        $('#close-card').click(function () {
            $('#discard').click();
            $('#user-card').hide();
            $('.main-content').css('filter', 'blur(0px)');
        });
        
        $('#edit').on('click', function(){
            $('.form-group select, .form-group input').prop('disabled', false);
            $('#discard').show();
            $('#delete').hide();
            $('#save').show();
            $('#edit').hide()
        });
        $('#discard').on('click', function(){
            $('.form-group select, .form-group input').prop('disabled', true);
            $('#edit').show();
            $('#save').hide();
            $('#discard').hide()
            $('#delete').show();
        });
        $('#save').on('click', function() {
            var username = $('#username').val()
            $.post('accounts/edit', {
                ID: $('#delete').val(),
                username: $('#username').val(),
                password: $('#password').val(), 
                role: $('#role').val()
            }, function(data) {
                alert(data.msg);
            });
        })
        $('#username').keyup(function() {
            if($('#username').val() != '' && $('#password').val() != '') {
                $('#save').prop('disabled', false);
            }
            else $('#save').prop('disabled', true);
        })
        $('#password').keyup(function() {
            if($('#username').val() != '' && $('#password').val() != '') {
                $('#save').prop('disabled', false);
            }
            else $('#save').prop('disabled', true);
        })
        $("#delete").on('click', function() {
            $.post('accounts/delete', {
                ID: $('#delete').val()
            }, function(data) {
                console.log(data.msg);
                window.location.replace('http://localhost:3000/admin/accounts');
            })
        })
        $('#create-account').hide();
        $("#add-item-btn").on('click', function() {
            $('.form-group select, .form-group input').prop('disabled', false);
            $('#create-account').show();
            $('.main-content').css('filter', 'blur(5px)');
        })
        $('#cancel-create').on('click', function() {
            $('#create-account').hide();
            $('.form-group select, .form-group input').prop('disabled', true);
            $('.main-content').css('filter', '');
        })
        $('#create').on('click', function() {
            $.post('accounts/create', {
                password: $('#psw').val(),
                username: $('#uname').val(),
                role: $('#urole').val()
            }, function(data) {
                window.location.reload('http://localhost:3000/admin/accounts')
            })
        })
    </script>
</body>

</html>